<h1>Sign in</h1>

<% if @user %>
  <p>Signed in as <%= @user.email %>.</p>
  <p><%= link_to 'Sign out', session_path, method: :delete %>
<% end %>

<%= form_with class: :signin_form, url: session_path do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>
